$bg-color: whitesmoke;
$accent-color: #ed6a5a;
$primary-color: #444;
$secondary-color: #828282;
$tertiary-color: #9EABB3;
$main-font: 'Proxima Nova';
$secondary-font: 'Georgia';


$border-color: #ddd;
