@import "mixins"; 
@import "config"; 
@import "button";

body {
	background-color: $bg-color;
	color: $primary-color;
	font-family: "Proxima Nova", "Helvetica Neue", sans-serif;

	a {
		text-decoration: none;
	}
}

div.logo {
	position: absolute;
	top: 30px;
	left: 30px;

}

div.nav {
	position: absolute;
	right: 10px;
	top: 10px;
}

.content {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;

	.post-thumb {
		width: 100%;
		height: 292px;
		display: block;
		overflow: hidden;
	}
}

div.main-menu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
	z-index: 6000;
	display: none;
	// opacity: 0;
	overflow-y: scroll;

	div.inner {
		position: relative;
		max-width: 700px !important;
		margin: 50px auto 50px auto;
		padding: 0px 30px;
		z-index: 6001;
		font-size: 100%;
		color: white;

		div.menu-content {
			z-index: 7001;
			a {
				color: white;
			}
			ul {
				padding-left: 0;
				li {
					list-style-type: none;
					margin-bottom: 5px;
				}
			}
		}
	}
}

// div.main-menu-back {
// 	position: absolute;
// 	top: 0px;
// 	left: 0px;
// 	width: 100%;
// 	height: 100%;
// 	z-index: 7000;
// }

button{
  display:inline-block;
  margin: 0 1em;
  border:none;
  background:none;
  
  span{
    display:block;
  }
}

article {
	border-bottom: 1px solid black;

	&:nth-child(1) {
		margin-top: 4rem;
	}
	padding-bottom: 25px;
	margin-bottom: 25px;
}